name: Test
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install
      - name: Build frontend
        run: |
          cd frontend
          npm run build
      - name: Save frontend build for later
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

  build_samples:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Generate sample
        run: |
          npx --yes dummy-json sample_data.hbs > sample_data.json
      - name: Save samples for later
        uses: actions/upload-artifact@v4
        with:
          name: samples
          path: sample_data.json

  build_samples_tickets:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Generate sample
        run: |
          npx --yes dummy-json sample_data_tickets.hbs > sample_data_tickets.json
      - name: Save samples for later
        uses: actions/upload-artifact@v4
        with:
          name: samples_tickets
          path: sample_data_tickets.json
  
  measure_energy_consumption:
    needs: 
      - build
      - build_samples
      - build_samples_tickets
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Start application
        uses: ./.github/actions/start
      - name: Install GreenFrame CLI
        run: |
          wget https://github.com/benel/greenframe-cli/archive/refs/heads/post-app.zip
          unzip post-app.zip
          cd greenframe-cli-post-app
          npm install -g corepack
          yarn
          yarn build
      - name: Run GreenFrame CLI
        run: |
          ./greenframe-cli-post-app/bin/run analyze > Consumption.txt
      - name: Save results
        uses: actions/upload-artifact@v4
        with:
          name: Consumption
          path: Consumption.txt
